body {
  color: #999;
}

.game-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  height: 320px;
  width: 320px;
}

.goblin-burrow {
  list-style-type: none;
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  background: gray;
  border: 3px solid #2E9AFF;
}

.img-goblin {
  width: 100%;
  /* background-image: url(../img/goblin.png); */
}
